body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 250px
}
.flexbox {
    display: flex;
}

.item {
    display: flex;
}

.title {
    padding: 8px
}

.subBtn {
    margin: 8px
}